.figcaption {
  text-align: center;
  font-weight: var(--jf-font-weight-medium);
  font-style: italic;
  font-size: var(--jf-font-size-sm);
  color: var(--jf-text-muted);
  margin-top: var(--jf-space-sm);
}
