{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://api.justifi.ai",
      "description": "JustiFi API. Each path carries its own base segment.\n\n"
    }
  ],
  "info": {
    "title": "JustiFi Payables API",
    "version": "v1",
    "termsOfService": "https://justifi.ai/terms-and-conditions",
    "x-logo": {
      "url": "https://justifi-brand-assets.s3.us-east-2.amazonaws.com/justifi-light-bg.png"
    },
    "contact": {
      "email": "api-development@justifi.ai"
    },
    "description": "The Payables API lets platforms pay their payees over ACH. Everything is scoped to a **payer account**\n(the payer — a first-class Payables entity that belongs to one of your JustiFi businesses, which in turn\nsits under your platform). You operate *within* a payer account: its id is in the path\n(`/v1/payables/payer_accounts/{payer_id}/…`), and under it you create **payees** and register **bank\naccounts** for funding (the payer account's own account, pulled from) and receiving (a payee's account,\npaid to), then schedule **payee payments** that debit-pull the funds, hold them, and credit the payee.\n\n**Platform-level reads.** A few endpoints are deliberately *not* payer-scoped — `GET /v1/payables/payer_accounts` (the\naccount switcher) and `GET /v1/payables/platform_ledger` — and are read with a platform-level token. Payees and\npayee payments are read under the payer account they belong to; there is no flat feed spanning every payer\naccount.\n\n## Authentication\n\nBackend-to-backend requests use an OAuth access token. Exchange your `client_id` and `client_secret` at\n`POST /oauth/token` for a 24-hour token, then send it as `Authorization: Bearer {access_token}` on every\nrequest. A request is scoped to a payer account by its path (`/v1/payables/payer_accounts/{payer_id}/…`); your token's\npermissions determine which payer accounts you can reach.\n\n## Conventions\n\n- **Envelope** — every response is wrapped in `{ id, type, data, page_info }`. `data` holds the resource\n  (or an array of resources for lists); `page_info` is null for single records. Every resource carries\n  its own `type` as well, so an object stays self-describing once it is out of the envelope — in a list,\n  in a webhook payload, or embedded in another resource.\n- **Pagination** — lists are cursor-paginated. Pass `after_cursor` / `before_cursor` (from a prior\n  response's `page_info`) and `limit`.\n- **Idempotency** — scheduling a payee payment (`POST /v1/payables/payer_accounts/{payer_id}/payee_payments`) accepts\n  an `Idempotency-Key` header; replaying a key returns `200` with the payment that key already created — as it\n  stands now, not a cached copy of the first response — instead of moving money twice. A fresh key returns\n  `201`. Reusing a key with a different request body is a `409`. Keys are scoped to the payer account, so two\n  payer accounts may use the same key without colliding. Payment creation is the only operation guarded this\n  way — other writes are not idempotent, so a retried create can produce a duplicate.\n- **Amounts** are integer cents; **timestamps** are ISO-8601 UTC; **ids** are prefixed strings\n  (`payer_`, `pp_`, `pe_`, `ba_`, `ptr_`, `ple_`).\n- **Errors** share one shape: `{ \"error\": { \"code\", \"message\", \"details\" } }`. Branch on the stable `code`,\n  never on `message`. The codes are JustiFi-wide rather than restatements of the HTTP status, so `403` carries\n  `not_authorized`, `401` carries `not_authenticated`, and `404` carries `resource_not_found`. A single status\n  may carry more than one code — `400` covers `bad_request`, `invalid_parameter`, `parameter_missing`,\n  `parameter_required`, `invalid_id_format`, and `account_not_found` — which is exactly why `code` is the thing\n  to branch on.\n\n## Provisioning\n\nA **payer account** is created automatically when a platform begins provisioning Payables for one of its\nbusinesses — you don't create it through this API. It starts `pending` and becomes `active` once JustiFi's\nrisk platform reports the business has met Payables's onboarding requirements. That bar is\nlighter than card/ACH payments, so a business can be Payables-ready before it is enabled for payments.\n\n**Bank account validation is asymmetric.** A payer (funding) account must be `verified` before it can fund a\npayment (payer accounts are validated in-app). A payee (receiving) account is not verified — it is created\n`not_required` and paid without upfront validation. Subscribe to `payables.payer_account.*`\nand `payables.bank_account.*` webhooks to follow provisioning and validation.\n\n## Payment lifecycle\n\nA payment progresses `initiated → inbound_submitted → holding → outbound_submitted → succeeded`. There is\n**no automatic retry**, and where a return leaves the payment depends on whose money had already moved: a\nreturned debit-pull means nothing settled, so the payment is `failed` and nobody is owed anything; a\nreturned credit to the payee means the payer was already debited, so the payment goes to `refunding_payer`\nand then `refunded`. Subscribe to `payables.payee_payment.*` webhooks to track progress. All Payables\nevents are namespaced under `payables.` so they never collide with JustiFi's core `payment.*` events.\n\n### A return that arrives after a payment succeeded\n\nACH lets a return arrive days after an entry has settled, so one can land after we have already told you a\npayment succeeded. **The payment moves to `failed_late_return`**, which is terminal, and a\n`payables.payee_payment.failed_late_return` event is delivered — so a payment you were told had succeeded\ncan still change. Handle that in your reconciliation.\n\n**It does not mean your payee holds nothing**, and the difference matters before you act. A returned\n**outbound** credit means the payee never kept the money. A returned **inbound** debit-pull means the\npayer's funding was clawed back *after* the payee was paid — the payee still has it, and JustiFi is the one\nout of pocket. **Re-sending a payment on this status can pay a payee twice.** Read `transfers` to see which\nleg returned.\n\nWhat changes is the leg. Its `status` becomes `returned` and it carries the network's `network_error_code`.\nJustiFi works the break by hand and records the corrective movement as a **further leg on the same\npayment** — `purpose: recovery`, with `transfer_type: manual` where the money moved off the ACH network.\nThe payment's `transfers` array is where you will see it, and the payment's `amount` is unchanged\nthroughout, because the amount is what was instructed rather than a running balance.\n\nOne limit to plan around: a corrective leg does not name the leg it cleared.\n\n_Payments are read and create only: a payment cannot be cancelled once initiated._\n\n"
  },
  "tags": [
    {
      "name": "API Credentials",
      "description": "Exchange your client credentials for an access token to authenticate API requests.\n"
    },
    {
      "name": "Payer Accounts",
      "description": "A payer account is the payer in Payables — a first-class entity, with its own `payer_…` id, that\nfunding bank accounts, payees, and payments attach to. It belongs to a JustiFi business\n(`business_id`) under a platform (`platform_account_id`); a business holds exactly one payer\naccount. Operate routes are scoped to a payer account in the path\n(`/v1/payables/payer_accounts/{payer_id}/…`); this collection and `/v1/payables/payer_accounts/{id}` are the platform-level\nreads. A payer account is created when a platform begins provisioning Payables and becomes `active`\nonce JustiFi's risk platform reports the business Payables-ready (a lighter bar than payments). This\nAPI exposes payer accounts read-only.\n\nEvery payer account is `test` or `live`, inherited from the JustiFi account it is provisioned\nunder and fixed for its life. A `test` payer account runs against a simulated ACH network:\npayments complete in seconds rather than banking days, returns and corrections can be produced on\ndemand, and no money moves.\n"
    },
    {
      "name": "Payees",
      "description": "Payees are the parties you send Payables payments to. A payee is standalone — it can be created and\npaid without being tied to a business — and carries the identity it is paid and filed against: a legal\nname, an IRS `entity_type`, a taxpayer identification number (an EIN, or an SSN for a sole\nproprietor) and an address. All four are required. The tax id is write-only; responses return\n`tax_id_last4`. Name, address and email are updatable; `entity_type` and `tax_id` are the taxpayer\nand are fixed at create.\n"
    },
    {
      "name": "Bank Accounts",
      "description": "Bank accounts fund payments (the payer account's funding account) or receive them (a payee's\naccount). Account numbers are write-only and never returned. Records are immutable — correcting an\naccount creates a new record and supersedes the old one rather than editing it.\n\nBoth kinds are readable here, but only payee receiving accounts can be **created** here. The payer\naccount's funding account decides where money is pulled from, so it is set during provisioning and\nreplaced by JustiFi rather than through this API.\n"
    },
    {
      "name": "Payee Payments",
      "description": "A payee payment debit-pulls the principal from the payer account's funding bank account, holds it,\nthen credits the payee. There is no automatic retry: a returned debit-pull fails the payment, and a\nreturned credit refunds the payer. Payments cannot be cancelled once initiated.\n"
    },
    {
      "name": "Platform Ledger",
      "description": "The platform's single-entry ledger — one entry per fee the platform earned, per JustiFi fee\n(payment, return handling, NOC handling), or per `settlement` paying the platform its balance,\neach referencing its source. Read-only and append-only; the platform's balance is the **sum** of its\nentries, and a `settlement` nets it toward zero.\n"
    },
    {
      "name": "Platform Settlements",
      "description": "The disbursements between JustiFi and your platform — when each happens, how much, and which way\nthe money goes. Read-only. A settlement is declared before it is paid, so one appears here while\nstill `scheduled`, which is what the ledger by construction cannot show you.\n"
    },
    {
      "name": "Webhooks",
      "description": "Payables delivers events to your configured endpoint as payments and bank accounts change. Return a\n`200` within 5 seconds; non-2xx responses are retried with backoff.\n"
    }
  ],
  "x-tagGroups": [
    {
      "name": "Authorization",
      "tags": [
        "API Credentials"
      ]
    },
    {
      "name": "Payables",
      "tags": [
        "Payer Accounts",
        "Payees",
        "Bank Accounts",
        "Payee Payments",
        "Platform Ledger",
        "Platform Settlements"
      ]
    },
    {
      "name": "Event Publishing",
      "tags": [
        "Webhooks"
      ]
    }
  ],
  "paths": {
    "/oauth/token": {
      "post": {
        "summary": "Generate Access Token",
        "description": "Exchange your `client_id` and `client_secret` for an access token. The token is valid for 24 hours.\nPass it on every request as the `Authorization` header with `Bearer` appended, e.g.\n`Bearer {access_token}`.\n\n**Note:** these access tokens are meant for backend-to-backend calls only.\n",
        "operationId": "CreateAccessToken",
        "tags": [
          "API Credentials"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "client_id",
                  "client_secret"
                ],
                "properties": {
                  "client_id": {
                    "type": "string",
                    "example": "test_clientId",
                    "description": "the client id for your (live or test) account"
                  },
                  "client_secret": {
                    "type": "string",
                    "example": "test_clientSecret",
                    "description": "the client secret for your (live or test) account"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "An access token has been granted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "access_token": {
                      "description": "the access token to pass as the `Authorization` header (prefix with `Bearer `)",
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "The access token is missing, expired, or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "the standard error envelope. Every non-2xx response returns this shape so clients can branch on a\nstable machine-readable `code` and surface `message` to users.\n",
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "description": "a stable, machine-readable error code",
                          "type": "string",
                          "example": "unprocessable_entity"
                        },
                        "message": {
                          "description": "a human-readable description of what went wrong",
                          "type": "string",
                          "example": "payee_id is required"
                        },
                        "details": {
                          "description": "optional field-level detail, keyed by request attribute",
                          "type": "object",
                          "additionalProperties": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "example": {
                            "amount": [
                              "must be greater than 0"
                            ]
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                },
                "example": {
                  "error": {
                    "code": "not_authenticated",
                    "message": "The access token provided is invalid or has expired"
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.justifi.ai"
          }
        ]
      }
    },
    "/v1/payables/payer_accounts": {
      "get": {
        "summary": "List Payer Accounts",
        "description": "List the payer accounts your credentials can access — the platform-level (Tier 2) read backing the\ncross-account view and account switcher; scoped credentials return only the ones they cover. Payer\naccounts are provisioned when a platform onboards a business — there is no customer-facing create\nendpoint.\n",
        "operationId": "ListPayerAccounts",
        "tags": [
          "Payer Accounts"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "schema": {
              "type": "string"
            },
            "required": true,
            "example": "Bearer {access_token}",
            "description": "the `access_token` value returned from the JustiFi `oauth/token` endpoint (be sure to append `Bearer` before the token)"
          },
          {
            "in": "query",
            "name": "after_cursor",
            "description": "token to fetch the next page of a list (the `end_cursor` from a previous response's `page_info`)",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "before_cursor",
            "description": "token to fetch the previous page of a list (the `start_cursor` from a previous response's `page_info`)",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "the number of resources to retrieve per page (default 25, max 100)",
            "schema": {
              "type": "integer",
              "default": 25,
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "in": "query",
            "name": "status",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "pending",
                "active",
                "disabled",
                "archived"
              ]
            },
            "description": "filter payer accounts by status"
          },
          {
            "in": "query",
            "name": "business",
            "required": false,
            "schema": {
              "type": "string",
              "example": "biz_123xyz"
            },
            "description": "filter to the payer accounts belonging to a single business. Use this to resolve a business's\npayer account(s) from the `biz_…` id you already hold — a business holds one payer account, so\nit returns a single record.\n\n"
          },
          {
            "in": "query",
            "name": "name",
            "required": false,
            "schema": {
              "type": "string",
              "example": "northside"
            },
            "description": "filter payer accounts to those whose `name` contains this value, case-insensitively. Partial\nmatches count, so `northside` matches \"Northside Physical Therapy\" — this backs the type-ahead\nin the account switcher rather than an exact-name lookup.\n"
          },
          {
            "in": "query",
            "name": "payer_id",
            "required": false,
            "schema": {
              "type": "string",
              "example": "payer_123xyz"
            },
            "description": "filter to a single payer account by its `payer_…` id. Matches exactly; an id that is not a\n`payer_…` id is rejected with `400`.\n"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully listed payer accounts",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "description": "the standard JustiFi response envelope for a list of records",
                      "properties": {
                        "id": {
                          "description": "always null for list responses — a list has no id of its own; the ids are on `data`",
                          "type": "null"
                        },
                        "type": {
                          "description": "the object type",
                          "type": "string",
                          "example": "array"
                        },
                        "data": {
                          "description": "the list of objects",
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        },
                        "page_info": {
                          "type": "object",
                          "description": "cursor pagination info",
                          "properties": {
                            "start_cursor": {
                              "description": "the encoded id of the first record in the current page",
                              "type": "string",
                              "example": "WyIyMDIyLTAyLTA4IDIwOjAxOjU4LjEyMDIzMjAwMCIsIjU5ZTFjNGI1LWFlOWQtNDIyZC04MTVkLWNjNzQ5NzdlYmFjYSJd"
                            },
                            "end_cursor": {
                              "description": "the encoded id of the last record in the current page",
                              "type": "string",
                              "example": "WyIyMDIyLTAyLTA4IDE5OjUyOjM3LjEwNDE3MzAwMCIsIjY4MDliYTU5LTYxYjctNDg3MS05YWFiLWE2Y2MyNmY3M2M1ZCJd"
                            },
                            "has_next": {
                              "description": "true if there are records following the current page",
                              "type": "boolean",
                              "default": false
                            },
                            "has_previous": {
                              "description": "true if there are records ahead of the current page",
                              "type": "boolean",
                              "default": false
                            }
                          }
                        }
                      },
                      "required": [
                        "id",
                        "type",
                        "data",
                        "page_info"
                      ]
                    },
                    {
                      "properties": {
                        "type": {
                          "example": "array"
                        },
                        "data": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "description": "A payer account is the payer in Payables — a first-class Payables entity with its own `payer_…` id.\nEvery payee, bank account, and payment is scoped to one payer account. Each payer account belongs to a\nJustiFi business (`business_id`).\n\nThe record is created (`pending`) when a platform begins provisioning Payables, and\nbecomes `active` once JustiFi's risk platform reports the business has met Payables's\nonboarding requirements — a lighter bar than our payments-processing product, so a business can be\nPayables-ready before it is enabled for payments. The customer-facing API exposes payer accounts\nread-only.\n",
                            "properties": {
                              "id": {
                                "description": "unique payer account id",
                                "type": "string",
                                "example": "payer_123xyz"
                              },
                              "type": {
                                "description": "the object type, matching the enclosing envelope's `type`",
                                "type": "string",
                                "example": "payer_account"
                              },
                              "business_id": {
                                "description": "the JustiFi business this payer account belongs to. Requests operate *within* a payer account (see\nthe `/v1/payables/payer_accounts/{payer_id}/…` routes); `business_id` records the owning business for reporting\nand cross-account grouping, it is not the request scope. Discover a business's payer accounts with\n`GET /v1/payables/payer_accounts?business=biz_…`.\n",
                                "type": "string",
                                "example": "biz_123xyz"
                              },
                              "name": {
                                "description": "display name for the payer account",
                                "type": "string",
                                "example": "Northside Physical Therapy"
                              },
                              "mode": {
                                "description": "whether this payer account operates against real money. Inherited from the JustiFi account it\nbelongs to — a test account and a live account are different accounts with different ids, so a\npayer account is one or the other for its life and cannot be switched. In `test`, payments run\nagainst a simulated ACH network: they complete in seconds rather than banking days, and no money\nmoves.\n",
                                "type": "string",
                                "enum": [
                                  "test",
                                  "live"
                                ],
                                "example": "live"
                              },
                              "status": {
                                "description": "the payer account's Payables lifecycle state, and what each state prevents. `pending` —\nprovisioning has begun but the risk platform has not yet reported the business Payables-ready;\n`active` — Payables-ready, and the only state under which anything can be created; `disabled` —\nwas active previously, and can no longer schedule payments, create payees or register bank\naccounts; `archived` — the same, and permanent: an archived payer account cannot be reactivated.\n\nA payment whose payee credit is already held is not paid out while the account is not `active`.\nIt stays held until the account is active again, rather than failing.\n",
                                "type": "string",
                                "enum": [
                                  "pending",
                                  "active",
                                  "disabled",
                                  "archived"
                                ],
                                "example": "active"
                              },
                              "provisioned_at": {
                                "description": "when the payer account was provisioned to use Payables; null until provisioning completes",
                                "type": [
                                  "string",
                                  "null"
                                ],
                                "format": "date-time",
                                "example": "2026-01-01T12:00:00Z"
                              },
                              "funding_bank_account_id": {
                                "description": "pointer to the payer account's active funding bank account. In this version a payer account has a single active funding account.\nNull until one is registered and verified.\n",
                                "type": [
                                  "string",
                                  "null"
                                ],
                                "example": "ba_fund456"
                              },
                              "created_at": {
                                "type": "string",
                                "format": "date-time",
                                "example": "2026-01-01T12:00:00Z"
                              },
                              "updated_at": {
                                "type": "string",
                                "format": "date-time",
                                "example": "2026-01-01T12:00:00Z"
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "The request was malformed, failed validation, or referenced a resource that cannot be used in its\ncurrent state — for example scheduling a payment to a payee that is not active, or creating anything\nunder a payer account that is not active. When the failure is field-level, `error.details` carries one\narray of messages per rejected attribute.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "the standard error envelope. Every non-2xx response returns this shape so clients can branch on a\nstable machine-readable `code` and surface `message` to users.\n",
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "description": "a stable, machine-readable error code",
                          "type": "string",
                          "example": "unprocessable_entity"
                        },
                        "message": {
                          "description": "a human-readable description of what went wrong",
                          "type": "string",
                          "example": "payee_id is required"
                        },
                        "details": {
                          "description": "optional field-level detail, keyed by request attribute",
                          "type": "object",
                          "additionalProperties": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "example": {
                            "amount": [
                              "must be greater than 0"
                            ]
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                },
                "example": {
                  "error": {
                    "code": "bad_request",
                    "message": "payee pe_abc123 is archived and cannot be paid"
                  }
                }
              }
            }
          },
          "401": {
            "description": "The access token is missing, expired, or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "the standard error envelope. Every non-2xx response returns this shape so clients can branch on a\nstable machine-readable `code` and surface `message` to users.\n",
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "description": "a stable, machine-readable error code",
                          "type": "string",
                          "example": "unprocessable_entity"
                        },
                        "message": {
                          "description": "a human-readable description of what went wrong",
                          "type": "string",
                          "example": "payee_id is required"
                        },
                        "details": {
                          "description": "optional field-level detail, keyed by request attribute",
                          "type": "object",
                          "additionalProperties": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "example": {
                            "amount": [
                              "must be greater than 0"
                            ]
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                },
                "example": {
                  "error": {
                    "code": "not_authenticated",
                    "message": "The access token provided is invalid or has expired"
                  }
                }
              }
            }
          },
          "403": {
            "description": "The credentials are valid but not permitted to access this resource.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "the standard error envelope. Every non-2xx response returns this shape so clients can branch on a\nstable machine-readable `code` and surface `message` to users.\n",
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "description": "a stable, machine-readable error code",
                          "type": "string",
                          "example": "unprocessable_entity"
                        },
                        "message": {
                          "description": "a human-readable description of what went wrong",
                          "type": "string",
                          "example": "payee_id is required"
                        },
                        "details": {
                          "description": "optional field-level detail, keyed by request attribute",
                          "type": "object",
                          "additionalProperties": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "example": {
                            "amount": [
                              "must be greater than 0"
                            ]
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                },
                "example": {
                  "error": {
                    "code": "not_authorized",
                    "message": "Your credentials do not have access to the requested payer account"
                  }
                }
              }
            }
          },
          "429": {
            "description": "The rate limit has been exceeded. Back off and retry after the interval indicated by the `Retry-After` header.",
            "headers": {
              "Retry-After": {
                "description": "the number of seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                },
                "example": 30
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "the standard error envelope. Every non-2xx response returns this shape so clients can branch on a\nstable machine-readable `code` and surface `message` to users.\n",
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "description": "a stable, machine-readable error code",
                          "type": "string",
                          "example": "unprocessable_entity"
                        },
                        "message": {
                          "description": "a human-readable description of what went wrong",
                          "type": "string",
                          "example": "payee_id is required"
                        },
                        "details": {
                          "description": "optional field-level detail, keyed by request attribute",
                          "type": "object",
                          "additionalProperties": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "example": {
                            "amount": [
                              "must be greater than 0"
                            ]
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                },
                "example": {
                  "error": {
                    "code": "too_many_requests",
                    "message": "Rate limit exceeded"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/payables/payer_accounts/{id}": {
      "get": {
        "summary": "Get a Payer Account",
        "description": "Retrieve a single payer account by its `payer_…` id.",
        "operationId": "GetPayerAccount",
        "tags": [
          "Payer Accounts"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "schema": {
              "type": "string"
            },
            "required": true,
            "example": "Bearer {access_token}",
            "description": "the `access_token` value returned from the JustiFi `oauth/token` endpoint (be sure to append `Bearer` before the token)"
          },
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "the id of the resource"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the payer account",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "description": "the standard JustiFi response envelope for a single record",
                      "properties": {
                        "id": {
                          "description": "the object id, also found in the data object",
                          "type": "string",
                          "example": "prefix_xyz (same as id of data object)"
                        },
                        "type": {
                          "description": "the object type",
                          "type": "string",
                          "example": "payee_payment"
                        },
                        "data": {
                          "description": "the attributes for the object",
                          "type": "object"
                        },
                        "page_info": {
                          "description": "cursor pagination info; always null for single records",
                          "type": "null"
                        }
                      },
                      "required": [
                        "id",
                        "type",
                        "data",
                        "page_info"
                      ]
                    },
                    {
                      "properties": {
                        "type": {
                          "example": "payer_account"
                        },
                        "data": {
                          "type": "object",
                          "description": "A payer account is the payer in Payables — a first-class Payables entity with its own `payer_…` id.\nEvery payee, bank account, and payment is scoped to one payer account. Each payer account belongs to a\nJustiFi business (`business_id`).\n\nThe record is created (`pending`) when a platform begins provisioning Payables, and\nbecomes `active` once JustiFi's risk platform reports the business has met Payables's\nonboarding requirements — a lighter bar than our payments-processing product, so a business can be\nPayables-ready before it is enabled for payments. The customer-facing API exposes payer accounts\nread-only.\n",
                          "properties": {
                            "id": {
                              "description": "unique payer account id",
                              "type": "string",
                              "example": "payer_123xyz"
                            },
                            "type": {
                              "description": "the object type, matching the enclosing envelope's `type`",
                              "type": "string",
                              "example": "payer_account"
                            },
                            "business_id": {
                              "description": "the JustiFi business this payer account belongs to. Requests operate *within* a payer account (see\nthe `/v1/payables/payer_accounts/{payer_id}/…` routes); `business_id` records the owning business for reporting\nand cross-account grouping, it is not the request scope. Discover a business's payer accounts with\n`GET /v1/payables/payer_accounts?business=biz_…`.\n",
                              "type": "string",
                              "example": "biz_123xyz"
                            },
                            "name": {
                              "description": "display name for the payer account",
                              "type": "string",
                              "example": "Northside Physical Therapy"
                            },
                            "mode": {
                              "description": "whether this payer account operates against real money. Inherited from the JustiFi account it\nbelongs to — a test account and a live account are different accounts with different ids, so a\npayer account is one or the other for its life and cannot be switched. In `test`, payments run\nagainst a simulated ACH network: they complete in seconds rather than banking days, and no money\nmoves.\n",
                              "type": "string",
                              "enum": [
                                "test",
                                "live"
                              ],
                              "example": "live"
                            },
                            "status": {
                              "description": "the payer account's Payables lifecycle state, and what each state prevents. `pending` —\nprovisioning has begun but the risk platform has not yet reported the business Payables-ready;\n`active` — Payables-ready, and the only state under which anything can be created; `disabled` —\nwas active previously, and can no longer schedule payments, create payees or register bank\naccounts; `archived` — the same, and permanent: an archived payer account cannot be reactivated.\n\nA payment whose payee credit is already held is not paid out while the account is not `active`.\nIt stays held until the account is active again, rather than failing.\n",
                              "type": "string",
                              "enum": [
                                "pending",
                                "active",
                                "disabled",
                                "archived"
                              ],
                              "example": "active"
                            },
                            "provisioned_at": {
                              "description": "when the payer account was provisioned to use Payables; null until provisioning completes",
                              "type": [
                                "string",
                                "null"
                              ],
                              "format": "date-time",
                              "example": "2026-01-01T12:00:00Z"
                            },
                            "funding_bank_account_id": {
                              "description": "pointer to the payer account's active funding bank account. In this version a payer account has a single active funding account.\nNull until one is registered and verified.\n",
                              "type": [
                                "string",
                                "null"
                              ],
                              "example": "ba_fund456"
                            },
                            "created_at": {
                              "type": "string",
                              "format": "date-time",
                              "example": "2026-01-01T12:00:00Z"
                            },
                            "updated_at": {
                              "type": "string",
                              "format": "date-time",
                              "example": "2026-01-01T12:00:00Z"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "The access token is missing, expired, or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "the standard error envelope. Every non-2xx response returns this shape so clients can branch on a\nstable machine-readable `code` and surface `message` to users.\n",
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "description": "a stable, machine-readable error code",
                          "type": "string",
                          "example": "unprocessable_entity"
                        },
                        "message": {
                          "description": "a human-readable description of what went wrong",
                          "type": "string",
                          "example": "payee_id is required"
                        },
                        "details": {
                          "description": "optional field-level detail, keyed by request attribute",
                          "type": "object",
                          "additionalProperties": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "example": {
                            "amount": [
                              "must be greater than 0"
                            ]
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                },
                "example": {
                  "error": {
                    "code": "not_authenticated",
                    "message": "The access token provided is invalid or has expired"
                  }
                }
              }
            }
          },
          "403": {
            "description": "The credentials are valid but not permitted to access this resource.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "the standard error envelope. Every non-2xx response returns this shape so clients can branch on a\nstable machine-readable `code` and surface `message` to users.\n",
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "description": "a stable, machine-readable error code",
                          "type": "string",
                          "example": "unprocessable_entity"
                        },
                        "message": {
                          "description": "a human-readable description of what went wrong",
                          "type": "string",
                          "example": "payee_id is required"
                        },
                        "details": {
                          "description": "optional field-level detail, keyed by request attribute",
                          "type": "object",
                          "additionalProperties": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "example": {
                            "amount": [
                              "must be greater than 0"
                            ]
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                },
                "example": {
                  "error": {
                    "code": "not_authorized",
                    "message": "Your credentials do not have access to the requested payer account"
                  }
                }
              }
            }
          },
          "404": {
            "description": "No resource exists for the given id (within the scoped payer account).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "the standard error envelope. Every non-2xx response returns this shape so clients can branch on a\nstable machine-readable `code` and surface `message` to users.\n",
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "description": "a stable, machine-readable error code",
                          "type": "string",
                          "example": "unprocessable_entity"
                        },
                        "message": {
                          "description": "a human-readable description of what went wrong",
                          "type": "string",
                          "example": "payee_id is required"
                        },
                        "details": {
                          "description": "optional field-level detail, keyed by request attribute",
                          "type": "object",
                          "additionalProperties": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "example": {
                            "amount": [
                              "must be greater than 0"
                            ]
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                },
                "example": {
                  "error": {
                    "code": "resource_not_found",
                    "message": "No payee_payment found with id pp_123xyz"
                  }
                }
              }
            }
          },
          "429": {
            "description": "The rate limit has been exceeded. Back off and retry after the interval indicated by the `Retry-After` header.",
            "headers": {
              "Retry-After": {
                "description": "the number of seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                },
                "example": 30
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "the standard error envelope. Every non-2xx response returns this shape so clients can branch on a\nstable machine-readable `code` and surface `message` to users.\n",
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "description": "a stable, machine-readable error code",
                          "type": "string",
                          "example": "unprocessable_entity"
                        },
                        "message": {
                          "description": "a human-readable description of what went wrong",
                          "type": "string",
                          "example": "payee_id is required"
                        },
                        "details": {
                          "description": "optional field-level detail, keyed by request attribute",
                          "type": "object",
                          "additionalProperties": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "example": {
                            "amount": [
                              "must be greater than 0"
                            ]
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                },
                "example": {
                  "error": {
                    "code": "too_many_requests",
                    "message": "Rate limit exceeded"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/payables/payer_accounts/{payer_id}/payees": {
      "get": {
        "summary": "List Payees",
        "description": "List the payees under this payer account. Supports cursor pagination. Archived payees are excluded\nunless you ask for them with `?status=archived`.\n",
        "operationId": "ListPayees",
        "tags": [
          "Payees"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "schema": {
              "type": "string"
            },
            "required": true,
            "example": "Bearer {access_token}",
            "description": "the `access_token` value returned from the JustiFi `oauth/token` endpoint (be sure to append `Bearer` before the token)"
          },
          {
            "in": "path",
            "name": "payer_id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "example": "payer_123xyz",
            "description": "the payer account this request is scoped to. Every payee, bank account, and payment lives under one\npayer account, so it is part of the path on all operate (Tier 1) routes.\n"
          },
          {
            "in": "query",
            "name": "after_cursor",
            "description": "token to fetch the next page of a list (the `end_cursor` from a previous response's `page_info`)",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "before_cursor",
            "description": "token to fetch the previous page of a list (the `start_cursor` from a previous response's `page_info`)",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "the number of resources to retrieve per page (default 25, max 100)",
            "schema": {
              "type": "integer",
              "default": 25,
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "in": "query",
            "name": "created_after",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "required": false,
            "example": "2026-01-01T00:00:00Z",
            "description": "filter records created after the date and time (UTC) specified. Dates without a time default to 00:00:00\n"
          },
          {
            "in": "query",
            "name": "created_before",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "required": false,
            "example": "2026-01-01T00:00:00Z",
            "description": "filter records created before the date and time (UTC) specified. Dates without a time default to 00:00:00\n"
          },
          {
            "in": "query",
            "name": "status",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "pending",
                "active",
                "disabled",
                "archived"
              ]
            },
            "description": "filter payees by status. Omit it and every payee except `archived` is returned; archiving is a\nsoft delete, so archived payees are visible only when asked for by name.\n"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully listed payees",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "description": "the standard JustiFi response envelope for a list of records",
                      "properties": {
                        "id": {
                          "description": "always null for list responses — a list has no id of its own; the ids are on `data`",
                          "type": "null"
                        },
                        "type": {
                          "description": "the object type",
                          "type": "string",
                          "example": "array"
                        },
                        "data": {
                          "description": "the list of objects",
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        },
                        "page_info": {
                          "type": "object",
                          "description": "cursor pagination info",
                          "properties": {
                            "start_cursor": {
                              "description": "the encoded id of the first record in the current page",
                              "type": "string",
                              "example": "WyIyMDIyLTAyLTA4IDIwOjAxOjU4LjEyMDIzMjAwMCIsIjU5ZTFjNGI1LWFlOWQtNDIyZC04MTVkLWNjNzQ5NzdlYmFjYSJd"
                            },
                            "end_cursor": {
                              "description": "the encoded id of the last record in the current page",
                              "type": "string",
                              "example": "WyIyMDIyLTAyLTA4IDE5OjUyOjM3LjEwNDE3MzAwMCIsIjY4MDliYTU5LTYxYjctNDg3MS05YWFiLWE2Y2MyNmY3M2M1ZCJd"
                            },
                            "has_next": {
                              "description": "true if there are records following the current page",
                              "type": "boolean",
                              "default": false
                            },
                            "has_previous": {
                              "description": "true if there are records ahead of the current page",
                              "type": "boolean",
                              "default": false
                            }
                          }
                        }
                      },
                      "required": [
                        "id",
                        "type",
                        "data",
                        "page_info"
                      ]
                    },
                    {
                      "properties": {
                        "type": {
                          "example": "array"
                        },
                        "data": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "description": "A payee is a party that receives Payables payments. Payees are standalone: they can exist and be paid\nwithout being tied to a business. `business_id` reports a link to a JustiFi business where there is one,\nand is null by default.\n",
                            "properties": {
                              "id": {
                                "description": "unique payee id",
                                "type": "string",
                                "example": "pe_abc123"
                              },
                              "type": {
                                "description": "the object type, matching the enclosing envelope's `type`",
                                "type": "string",
                                "example": "payee"
                              },
                              "payer_account_id": {
                                "description": "the id of the payer account this payee is scoped to",
                                "type": "string",
                                "example": "payer_123xyz"
                              },
                              "name": {
                                "description": "the payee's legal name. Required on create.",
                                "type": "string",
                                "example": "Acme Plumbing LLC"
                              },
                              "entity_type": {
                                "description": "the payee's IRS entity classification. Required on create, with no default — it decides both the tax\nform filed for the payee and, for `sole_proprietorship`, how the ACH credit to them is classified.\nImmutable — with `tax_id` it is the taxpayer this payee is filed against. The set is open and may\ngrow; unknown values should be treated as a business entity.\n",
                                "type": "string",
                                "enum": [
                                  "c_corporation",
                                  "s_corporation",
                                  "partnership",
                                  "limited_liability_company",
                                  "sole_proprietorship"
                                ],
                                "example": "limited_liability_company"
                              },
                              "email": {
                                "description": "contact email for the payee, when provided",
                                "type": [
                                  "string",
                                  "null"
                                ],
                                "format": "email",
                                "example": "billing@acmeplumbing.com"
                              },
                              "tax_id_last4": {
                                "description": "the last four digits of the payee's taxpayer identification number — an EIN, or an SSN where the\npayee is a `sole_proprietorship`. The number itself is required on create and never returned — it is\nstored encrypted, and this is what reads back. Immutable, on the same terms as `entity_type`.\n",
                                "type": "string",
                                "example": "4021"
                              },
                              "address": {
                                "type": "object",
                                "description": "the payee's address. Required on create.",
                                "properties": {
                                  "line1": {
                                    "description": "street address",
                                    "type": "string",
                                    "example": "123 Example St"
                                  },
                                  "line2": {
                                    "description": "suite, unit or floor, when there is one",
                                    "type": [
                                      "string",
                                      "null"
                                    ],
                                    "example": "Suite 101"
                                  },
                                  "city": {
                                    "type": "string",
                                    "example": "Minneapolis"
                                  },
                                  "state": {
                                    "description": "two-letter state or territory code, uppercase. Not normalized — `mn` is rejected\nrather than corrected.\n",
                                    "type": "string",
                                    "pattern": "^[A-Z]{2}$",
                                    "example": "MN"
                                  },
                                  "postal_code": {
                                    "description": "ZIP or ZIP+4",
                                    "type": "string",
                                    "pattern": "^\\d{5}(-\\d{4})?$",
                                    "example": "55555"
                                  },
                                  "country": {
                                    "description": "ISO 3166-1 alpha-3 country code, matching the rest of JustiFi. `USA` is the only\nvalue Payables accepts — it pays by US domestic ACH and files US tax forms — and it\nis what a payee gets when the field is omitted.\n",
                                    "type": "string",
                                    "enum": [
                                      "USA"
                                    ],
                                    "default": "USA",
                                    "example": "USA"
                                  }
                                }
                              },
                              "receiving_bank_account_id": {
                                "description": "pointer to the payee's active receiving bank account (denormalized for lookup, like capital's\n`accounts.payout_account_id`). In this version a payee has a single active account. Null until one is\nregistered.\n",
                                "type": [
                                  "string",
                                  "null"
                                ],
                                "example": "ba_recv123"
                              },
                              "business_id": {
                                "description": "the business this payee belongs to, where JustiFi has linked one. Null for standalone payees, and a\npayee is created and paid without one.\n\n",
                                "type": [
                                  "string",
                                  "null"
                                ],
                                "example": null
                              },
                              "status": {
                                "description": "the payee's status.\n\n`pending` — created but not cleared for payments; `active` — able to receive payments, and the\nonly state a payment can be scheduled or paid out under; `disabled` — was active previously and\ncan no longer be paid; `archived` — was active previously and can never be paid again.\n\nA payment whose payee credit is already held is not paid out while the payee is not `active`. It\nstays held until the payee is active again, rather than failing.\n\n**Payables disables a payee when its bank says the account cannot be paid.** Either the bank\nreturned a credit for a reason a retry will not change — the account is closed, frozen, not a\ntransaction account, or does not exist — or it sent a notification of change we cannot act on,\nbecause it named no corrected numbers or corrects something Payables does not hold. Both mean\nthe next payment would go to an account the bank has already refused. A correction about the\nentry rather than the account — the payee's name, the entry description — changes nothing.\n\n**Registering a corrected receiving bank account returns the payee to `active`**, and any\npayment held for it pays out on the next cycle. Until then those payments wait rather than\nfailing, which is what stops a queue of payments following the first one into a closed\naccount.\n",
                                "type": "string",
                                "enum": [
                                  "pending",
                                  "active",
                                  "disabled",
                                  "archived"
                                ],
                                "example": "active"
                              },
                              "metadata": {
                                "description": "any useful information you'd like to store alongside this payee",
                                "type": "object",
                                "example": {
                                  "erp_payee_id": "V-4021"
                                }
                              },
                              "created_at": {
                                "type": "string",
                                "format": "date-time",
                                "example": "2026-01-01T12:00:00Z"
                              },
                              "updated_at": {
                                "type": "string",
                                "format": "date-time",
                                "example": "2026-01-01T12:00:00Z"
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "The request was malformed, failed validation, or referenced a resource that cannot be used in its\ncurrent state — for example scheduling a payment to a payee that is not active, or creating anything\nunder a payer account that is not active. When the failure is field-level, `error.details` carries one\narray of messages per rejected attribute.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "the standard error envelope. Every non-2xx response returns this shape so clients can branch on a\nstable machine-readable `code` and surface `message` to users.\n",
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "description": "a stable, machine-readable error code",
                          "type": "string",
                          "example": "unprocessable_entity"
                        },
                        "message": {
                          "description": "a human-readable description of what went wrong",
                          "type": "string",
                          "example": "payee_id is required"
                        },
                        "details": {
                          "description": "optional field-level detail, keyed by request attribute",
                          "type": "object",
                          "additionalProperties": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "example": {
                            "amount": [
                              "must be greater than 0"
                            ]
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                },
                "example": {
                  "error": {
                    "code": "bad_request",
                    "message": "payee pe_abc123 is archived and cannot be paid"
                  }
                }
              }
            }
          },
          "401": {
            "description": "The access token is missing, expired, or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "the standard error envelope. Every non-2xx response returns this shape so clients can branch on a\nstable machine-readable `code` and surface `message` to users.\n",
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "description": "a stable, machine-readable error code",
                          "type": "string",
                          "example": "unprocessable_entity"
                        },
                        "message": {
                          "description": "a human-readable description of what went wrong",
                          "type": "string",
                          "example": "payee_id is required"
                        },
                        "details": {
                          "description": "optional field-level detail, keyed by request attribute",
                          "type": "object",
                          "additionalProperties": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "example": {
                            "amount": [
                              "must be greater than 0"
                            ]
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                },
                "example": {
                  "error": {
                    "code": "not_authenticated",
                    "message": "The access token provided is invalid or has expired"
                  }
                }
              }
            }
          },
          "403": {
            "description": "The credentials are valid but not permitted to access this resource.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "the standard error envelope. Every non-2xx response returns this shape so clients can branch on a\nstable machine-readable `code` and surface `message` to users.\n",
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "description": "a stable, machine-readable error code",
                          "type": "string",
                          "example": "unprocessable_entity"
                        },
                        "message": {
                          "description": "a human-readable description of what went wrong",
                          "type": "string",
                          "example": "payee_id is required"
                        },
                        "details": {
                          "description": "optional field-level detail, keyed by request attribute",
                          "type": "object",
                          "additionalProperties": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "example": {
                            "amount": [
                              "must be greater than 0"
                            ]
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                },
                "example": {
                  "error": {
                    "code": "not_authorized",
                    "message": "Your credentials do not have access to the requested payer account"
                  }
                }
              }
            }
          },
          "404": {
            "description": "No resource exists for the given id (within the scoped payer account).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "the standard error envelope. Every non-2xx response returns this shape so clients can branch on a\nstable machine-readable `code` and surface `message` to users.\n",
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "description": "a stable, machine-readable error code",
                          "type": "string",
                          "example": "unprocessable_entity"
                        },
                        "message": {
                          "description": "a human-readable description of what went wrong",
                          "type": "string",
                          "example": "payee_id is required"
                        },
                        "details": {
                          "description": "optional field-level detail, keyed by request attribute",
                          "type": "object",
                          "additionalProperties": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "example": {
                            "amount": [
                              "must be greater than 0"
                            ]
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                },
                "example": {
                  "error": {
                    "code": "resource_not_found",
                    "message": "No payee_payment found with id pp_123xyz"
                  }
                }
              }
            }
          },
          "429": {
            "description": "The rate limit has been exceeded. Back off and retry after the interval indicated by the `Retry-After` header.",
            "headers": {
              "Retry-After": {
                "description": "the number of seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                },
                "example": 30
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "the standard error envelope. Every non-2xx response returns this shape so clients can branch on a\nstable machine-readable `code` and surface `message` to users.\n",
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "description": "a stable, machine-readable error code",
                          "type": "string",
                          "example": "unprocessable_entity"
                        },
                        "message": {
                          "description": "a human-readable description of what went wrong",
                          "type": "string",
                          "example": "payee_id is required"
                        },
                        "details": {
                          "description": "optional field-level detail, keyed by request attribute",
                          "type": "object",
                          "additionalProperties": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "example": {
                            "amount": [
                              "must be greater than 0"
                            ]
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                },
                "example": {
                  "error": {
                    "code": "too_many_requests",
                    "message": "Rate limit exceeded"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a Payee",
        "description": "Create a payee under this payer account. `name`, `entity_type`, `tax_id` and `address` are all\nrequired — together they are the identity a payee is paid and filed against, and none of them has a\nsensible default. A payee is still created without a bank account and has one registered later,\nthrough `CreateBankAccount`.\n\n`entity_type` and `tax_id` are fixed here — they are the taxpayer the payee is filed against, and\n`UpdatePayee` does not accept them.\n\n**The payer account must be `active`.** A payer account that is `pending`, `disabled` or `archived`\ncreates nothing, and a payee create under one is refused with a `400`.\n",
        "operationId": "CreatePayee",
        "tags": [
          "Payees"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "schema": {
              "type": "string"
            },
            "required": true,
            "example": "Bearer {access_token}",
            "description": "the `access_token` value returned from the JustiFi `oauth/token` endpoint (be sure to append `Bearer` before the token)"
          },
          {
            "in": "path",
            "name": "payer_id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "example": "payer_123xyz",
            "description": "the payer account this request is scoped to. Every payee, bank account, and payment lives under one\npayer account, so it is part of the path on all operate (Tier 1) routes.\n"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "entity_type",
                  "tax_id",
                  "address"
                ],
                "properties": {
                  "name": {
                    "description": "the payee's legal name",
                    "type": "string",
                    "example": "Acme Plumbing LLC"
                  },
                  "entity_type": {
                    "description": "the payee's IRS entity classification; no default, and not changeable later",
                    "type": "string",
                    "enum": [
                      "c_corporation",
                      "s_corporation",
                      "partnership",
                      "limited_liability_company",
                      "sole_proprietorship"
                    ],
                    "example": "limited_liability_company"
                  },
                  "tax_id": {
                    "description": "the payee's taxpayer identification number — **an EIN or an SSN**, nine digits with or\nwithout separators. Which one it is follows `entity_type`: a `sole_proprietorship` files\nunder the proprietor's SSN, or under an EIN where it has one; every other entity type\nfiles under an EIN. Write-only — it is stored encrypted and never returned; responses\ncarry `tax_id_last4`. Payables does not validate it against the IRS, and does not check\nit against the entity type.\n",
                    "type": "string",
                    "example": "12-3454021"
                  },
                  "address": {
                    "type": "object",
                    "description": "A postal address, in the shape JustiFi's other APIs use. The shape is enforced; the\naddress itself is not — Payables does not verify that it exists, and stores it as given\nwithout normalizing case or spacing.\n",
                    "properties": {
                      "line1": {
                        "description": "street address",
                        "type": "string",
                        "example": "123 Example St"
                      },
                      "line2": {
                        "description": "suite, unit or floor, when there is one",
                        "type": [
                          "string",
                          "null"
                        ],
                        "example": "Suite 101"
                      },
                      "city": {
                        "type": "string",
                        "example": "Minneapolis"
                      },
                      "state": {
                        "description": "two-letter state or territory code, uppercase. Not normalized — `mn` is rejected\nrather than corrected.\n",
                        "type": "string",
                        "pattern": "^[A-Z]{2}$",
                        "example": "MN"
                      },
                      "postal_code": {
                        "description": "ZIP or ZIP+4",
                        "type": "string",
                        "pattern": "^\\d{5}(-\\d{4})?$",
                        "example": "55555"
                      },
                      "country": {
                        "description": "ISO 3166-1 alpha-3 country code, matching the rest of JustiFi. `USA` is the only\nvalue Payables accepts — it pays by US domestic ACH and files US tax forms — and it\nis what a payee gets when the field is omitted.\n",
                        "type": "string",
                        "enum": [
                          "USA"
                        ],
                        "default": "USA",
                        "example": "USA"
                      }
                    }
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "example": "billing@acmeplumbing.com"
                  },
                  "metadata": {
                    "type": "object",
                    "example": {
                      "erp_payee_id": "V-4021"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Payee was created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "description": "the standard JustiFi response envelope for a single record",
                      "properties": {
                        "id": {
                          "description": "the object id, also found in the data object",
                          "type": "string",
                          "example": "prefix_xyz (same as id of data object)"
                        },
                        "type": {
                          "description": "the object type",
                          "type": "string",
                          "example": "payee_payment"
                        },
                        "data": {
                          "description": "the attributes for the object",
                          "type": "object"
                        },
                        "page_info": {
                          "description": "cursor pagination info; always null for single records",
                          "type": "null"
                        }
                      },
                      "required": [
                        "id",
                        "type",
                        "data",
                        "page_info"
                      ]
                    },
                    {
                      "properties": {
                        "type": {
                          "example": "payee"
                        },
                        "data": {
                          "type": "object",
                          "description": "A payee is a party that receives Payables payments. Payees are standalone: they can exist and be paid\nwithout being tied to a business. `business_id` reports a link to a JustiFi business where there is one,\nand is null by default.\n",
                          "properties": {
                            "id": {
                              "description": "unique payee id",
                              "type": "string",
                              "example": "pe_abc123"
                            },
                            "type": {
                              "description": "the object type, matching the enclosing envelope's `type`",
                              "type": "string",
                              "example": "payee"
                            },
                            "payer_account_id": {
                              "description": "the id of the payer account this payee is scoped to",
                              "type": "string",
                              "example": "payer_123xyz"
                            },
                            "name": {
                              "description": "the payee's legal name. Required on create.",
                              "type": "string",
                              "example": "Acme Plumbing LLC"
                            },
                            "entity_type": {
                              "description": "the payee's IRS entity classification. Required on create, with no default — it decides both the tax\nform filed for the payee and, for `sole_proprietorship`, how the ACH credit to them is classified.\nImmutable — with `tax_id` it is the taxpayer this payee is filed against. The set is open and may\ngrow; unknown values should be treated as a business entity.\n",
                              "type": "string",
                              "enum": [
                                "c_corporation",
                                "s_corporation",
                                "partnership",
                                "limited_liability_company",
                                "sole_proprietorship"
                              ],
                              "example": "limited_liability_company"
                            },
                            "email": {
                              "description": "contact email for the payee, when provided",
                              "type": [
                                "string",
                                "null"
                              ],
                              "format": "email",
                              "example": "billing@acmeplumbing.com"
                            },
                            "tax_id_last4": {
                              "description": "the last four digits of the payee's taxpayer identification number — an EIN, or an SSN where the\npayee is a `sole_proprietorship`. The number itself is required on create and never returned — it is\nstored encrypted, and this is what reads back. Immutable, on the same terms as `entity_type`.\n",
                              "type": "string",
                              "example": "4021"
                            },
                            "address": {
                              "type": "object",
                              "description": "the payee's address. Required on create.",
                              "properties": {
                                "line1": {
                                  "description": "street address",
                                  "type": "string",
                                  "example": "123 Example St"
                                },
                                "line2": {
                                  "description": "suite, unit or floor, when there is one",
                                  "type": [
                                    "string",
                                    "null"
                                  ],
                                  "example": "Suite 101"
                                },
                                "city": {
                                  "type": "string",
                                  "example": "Minneapolis"
                                },
                                "state": {
                                  "description": "two-letter state or territory code, uppercase. Not normalized — `mn` is rejected\nrather than corrected.\n",
                                  "type": "string",
                                  "pattern": "^[A-Z]{2}$",
                                  "example": "MN"
                                },
                                "postal_code": {
                                  "description": "ZIP or ZIP+4",
                                  "type": "string",
                                  "pattern": "^\\d{5}(-\\d{4})?$",
                                  "example": "55555"
                                },
                                "country": {
                                  "description": "ISO 3166-1 alpha-3 country code, matching the rest of JustiFi. `USA` is the only\nvalue Payables accepts — it pays by US domestic ACH and files US tax forms — and it\nis what a payee gets when the field is omitted.\n",
                                  "type": "string",
                                  "enum": [
                                    "USA"
                                  ],
                                  "default": "USA",
                                  "example": "USA"
                                }
                              }
                            },
                            "receiving_bank_account_id": {
                              "description": "pointer to the payee's active receiving bank account (denormalized for lookup, like capital's\n`accounts.payout_account_id`). In this version a payee has a single active account. Null until one is\nregistered.\n",
                              "type": [
                                "string",
                                "null"
                              ],
                              "example": "ba_recv123"
                            },
                            "business_id": {
                              "description": "the business this payee belongs to, where JustiFi has linked one. Null for standalone payees, and a\npayee is created and paid without one.\n\n",
                              "type": [
                                "string",
                                "null"
                              ],
                              "example": null
                            },
                            "status": {
[...]
